
  body{
    background-color : #ecf4f3
  }
  hr {
    border-style : none;
    border-top-style:dotted;
    width : 5%;
    border-color :gray;
    border-width :5px;
  }

.profile-img{
  border-radius: 100%;
}

.main-header ul{
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-right: 1rem;
  list-style: none;
  
}

.main-header ul a { 
  text-decoration: none;
font-size: 20px;
color: black;
}
h1{
  width: 506px;
}


#download-resume{
  background-color: #FF6464;
  border: none;
  padding: 10px 16px;
  font-size: 15px;
  border-radius: 2px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Heebo;
font-weight: 500;
line-height: 29.38px;
letter-spacing: 0px;


}

.hero-section{
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 2rem;
  align-items: center;
}
.hero-right-section{
  margin-left: 30px;
}